.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 64px;
  /* border: 1px solid red; */
}

.warning {
  color: pink;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 800px; */
  width: 50%;
  box-shadow: 0 0 16px pink;
  background-color: #333;
  /* margin: 2em; */
  margin: 1em;
  padding: 1em;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: pink;
}

.bio {
  text-align: center;
  color: lightslategray;
  margin: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

.spellInput {
  margin: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: #333;
  color: pink;
  box-shadow: 0 0 16px pink;
}

.portalButton {
  cursor: pointer;
  margin: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  /* width: 100px; */
  background-color: #333;
  color: #333;
  font-size: 1em;
  text-shadow: 1px 1px pink;
  box-shadow: 0 0 16px pink;
}

/* .spinner {
  height: 40%;
  font-size: 2em;
  border: 1px solid red;
} */

.portalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 800px; */
  width: 50%;
  color: lightslategray;
  background-color: #333;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 16px pink;
  /* padding: 16px; */
  margin: 1rem;
}

.portalCardHeader {
  /* display: flex;
  justify-content: center; */
  padding: 0.5em;

  color: rgba(13, 175, 161, 0.897);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.portalCardManifest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 192, 203, 0.288);
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: rgb(226, 117, 226);
}

.portalCardFooter {
  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* overflow-wrap: break-word;
  word-wrap: break-word; */
}

.footerElements {
  overflow-x: scroll;
  padding: 0px 5px 0px 5px;
  word-wrap: break-word;
}
